{% load static %}
<footer
  style="
    background-color: black;
    color: #e7c885;
    padding: 18px;
    text-align: center;
    font-family: Arial, sans-serif;
    z-index: 100;
  "
>
  <p style="color: #e7c885; margin: 0 8px; text-align: center; text-decoration: none" >&copy; 2025 fbwildlife. All rights reserved.</p>
  <nav style="color: #e7c885; margin: 6px 8px; text-align: center; text-decoration: none">
    <a
      href="terms-and-conditions.html"
      target="_blank"
      style="color: #e7c885; margin: 0 8px; text-decoration: none"
      >T&Cs</a
    >
    |
    <a
      href="write us.html"
      target="_blank"
      style="color: #e7c885; margin: 0 8px; text-decoration: none"
      >Contact Me</a
    >
    |
    <a
      href="https://www.instagram.com/silve_photo"
      target="_blank"
      target="_blank"
      style="color: #e7c885; text-decoration: none"
      > Instagram</a
    >
  </nav>
  <p style="color: #e7c885; margin: 0 8px; text-align: center; text-decoration: none" >
    Code stored on:
     <a
      href="https://github.com/filipbajacek/fbwildlife_django.git"
      target="_blank"
      style="color: #e7c885; margin: 0 8px; text-decoration: none"
      >GitHub</a
    >
  </p>
</footer>
