.lb-loader,
.lightbox {
    text-align: center;
    line-height: 0
}

.lb-dataContainer:after,
.lb-outerContainer:after {
    content: "";
    clear: both
}

html.lb-disable-scrolling {
    overflow: hidden;
    position: fixed;
    height: 100vh;
    width: 100vw
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #000;
    filter: alpha(Opacity=80);
    opacity: .8;
    display: none;
    align-items: center;
}


@media (max-width: 600px) {
  .lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    font-weight: 400;
    align-items: center;
     margin-top: 11dvh
}

.lightbox .lb-image {
    display: block;
    align-items: center;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    border: 0px solid #fff;
    margin-top: 11dvh
}
}

@media (min-width: 601px) {
  .lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    font-weight: 400;
    align-items: center;
    margin-top: 0.8dvh
}

.lightbox .lb-image {
    display: block;
    align-items: center;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    border: 0px solid #fff;
    margin-top: 3dvh
}
}


.lightbox a img {
    border: none
}

.lb-outerContainer {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 0px;
    background-color: #000000
}

.lb-loader,
.lb-nav {
    position: absolute;
    left: 0
}

.lb-outerContainer:after {
    display: table
}

.lb-loader {
    top: 43%;
    height: 25%;
    width: 100%
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../images/loading.gif) no-repeat
}

.lb-nav {
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10
}

.lb-container>.nav {
    left: 0
}

.lb-nav a {
    outline: 0;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)
}

.lb-next,
.lb-prev {
    height: 100%;
    cursor: pointer;
    display: block
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/images/prev.png) left 48% no-repeat;
    filter: alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    z-index: 1000;
}

.lb-nav a.lb-prev:hover {
    filter: alpha(Opacity=100);
    opacity: 1
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/images/next.png) right 48% no-repeat;
    filter: alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s;
    z-index: 1000;
}

.lb-nav a.lb-next:hover {
    filter: alpha(Opacity=100);
    opacity: 1
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.lb-dataContainer:after {
    display: table
}

.lb-data {
    padding: 0px;
    color: #ccc
}

.lb-data .lb-details {
    width: 100%;
    float: center;
    text-align: center;
    line-height: 1.1em;
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
  .lb-data .lb-caption {
      font-size: 2dvh;
      font-weight: 700;
      line-height: 1em;
      display: flex;
      justify-content: center;
      align-items: center; 
      margin-top: 10px  
  }

  .lb-data .lb-caption a {
      color: #4ae
  }

  .lb-data .lb-number {
      display: block;
      clear: left;
      padding-bottom: 1em;
      font-size: 2dvh;
      color: #999
  }
}

@media (min-width: 601px) {
  .lb-data .lb-caption {
      font-size: 3.5dvh;
      font-weight: 700;
      line-height: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px    
  }

  .lb-data .lb-caption a {
      color: #4ae
  }

  .lb-data .lb-number {
      display: block;
      clear: left;
      padding-bottom: 1em;
      font-size: 3.5dvh;
      color: #999
  }
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../images/close.png) top right no-repeat;
    text-align: right;
    outline: 0;
    filter: alpha(Opacity=70);
    opacity: .7;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: alpha(Opacity=100);
    opacity: 1
}

/* ------------ */
/* ------------ */
/* ------------ */

html.lb-disable-scrolling {
  overflow: hidden;
  /* Position fixed required for iOS. Just putting overflow: hidden; on the body is not enough. */
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.lightboxOverlay {
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  align-items: center;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  align-items: center;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 0px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: rgb(0, 0, 0);
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block !important;
  opacity: 1 !important;
  z-index: 10000 !important;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 100%;
  float: center;
  text-align: center;
  line-height: 1.1em;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .lb-data .lb-caption {
    font-size: 2dvh;
    font-weight: bold;
    line-height: 1em;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 10px   
  }

  .lb-data .lb-caption a {
    color: #4ae;
  }

  .lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 2dvh;
    color: #999999;
  }
}

@media (min-width: 601px) {
  .lb-data .lb-caption {
    font-size: 3.5dvh;
    font-weight: bold;
    line-height: 1em;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 10px  
  }

  .lb-data .lb-caption a {
    color: #4ae;
  }

  .lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 3.5dvh;
    color: #999999;
  }
}


.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-number {
    display: none !important;
}