{% load static %}
<!DOCTYPE html>
<html lang="sk">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Terms and conditions</title>
  <link rel="stylesheet" href="{% static 'CSS+JS/styles.css' %}">
    <link rel="stylesheet" href="{% static 'CSS+JS/normalize.css' %}">
    <link rel="icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">


  <style>
    /* Body styling with transparent background image */
    body {
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      margin: 0;
      font-family: "Arial";
      background: black;
      background-size: cover;
    }

    /* Styling for the main heading */
    h1 {
      font-size: 32px;
      /* Set the font size */
      font-weight: bold;
      /* Make it bold */
      color: #e7c885;
      /* Text color */
      text-align: center;
      /* Center-align the text */
      margin-top: 15dvw;
      margin-bottom: 1dvw;
      margin-left: 12.5dvw;
      margin-right: 12.5dvw;
    }

    /* Styling for the subheading */
    h2 {
      font-size: 22px;
      /* Smaller than h1 */
      color: #e7c885;
      text-align: left;
      /* Text color */
      margin-top: 6dvw;
      margin-bottom: 1dvw;
      margin-left: 12.5dvw;
      margin-right: 12.5dvw;
    }

    /* Styling for paragraph text */
    p {
      font-size: 16px;
      /* Font size */
      line-height: 1.6;
      /* Spacing between lines */
      color: #c0c0b7;
      text-align: justify;
      /* Text color */
      margin-top: 1dvw;
      margin-bottom: 1dvw;
      margin-left: 12.5dvw;
      margin-right: 12.5dvw;
    }
  </style>
</head>

<body>
  <header class="header">
    <div class="navbar">

      <a class="navbar_SK" href="../EN/terms-and-conditions.html" target="_self">EN</a>
      <a class="navbra_offer" href="home.html" target="_self">Domov</a>
      <a class="navbra_offer" href="gallery.html" target="_self">Galéria</a>
      <a class="navbra_author" href="author.html" target="_self">Autor</a>
      <a class="navbra_offer" href="write us.html" target="_self">Napíšte mi</a>
    </div>
  </header>

  <h1>Zmluvné podmienky</h1>

  <h2>Váš súhlas s touto dohodou</h2>
  <p>
    Tieto podmienky služby uzatvárate Vy a fbwildlife. Nasledujúce zmluvné podmienky spolu s akýmikoľvek dokumentmi,
    ktoré výslovne zahŕňajú odkazom (súhrnne „Podmienky poskytovania služieb“), upravujú váš prístup na stránku
    www.fbwildlife.com a jej používanie vrátane akéhokoľvek obsahu, funkcií a služieb ponúkaných na alebo
    prostredníctvom www.fbwildlife.com. Pred začatím používania webovej stránky si pozorne prečítajte Podmienky
    poskytovania služby.
  <p>
    Používaním webovej stránky prijímate a súhlasíte s tým, že budete viazaní a budete sa riadiť týmito Zmluvnými
    podmienkami a našimi privacy_policy.html, ktoré sú tu zahrnuté formou odkazu. Ak nechcete súhlasiť s týmito
    Podmienkami poskytovania služby, nesmiete pristupovať na webovú stránku ani ju používať.
  </p>
  <p>
    Ak chcete používať túto webovú stránku, musíte mať aspoň 13 rokov. Webovú stránku však môžu používať deti všetkých
    vekových kategórií, ak to povolí rodič alebo zákonný zástupca. Ak máte menej ako 18 rokov, vyhlasujete, že máte
    povolenie svojho rodiča alebo zákonného zástupcu používať webovú stránku. Požiadajte ich, aby si s vami prečítali
    tieto zmluvné podmienky.
    Ak ste rodičom alebo zákonným zástupcom používateľa mladšieho ako 18 rokov, tým, že svojmu dieťaťu umožníte používať
    webovú stránku, podliehate podmienkam týchto zmluvných podmienok a zodpovedáte za aktivitu svojho dieťaťa na webovej
    lokalite.
  </p>
  <p>
    PRÍSTUPOM A POUŽÍVANÍM TEJTO WEBOVEJ STRÁNKY:
    PRIJÍMATE A SÚHLASÍTE S TÝM, ŽE STE VIAZANÝ A DODRŽIAVAJTE TIETO PODMIENKY SLUŽBY;
    VYHLASUJETE A ZARUČUJETE, ŽE STE V SÚLADE S PLATNÝM ZÁKONOM V SÚČASNOSTI NA UZAVRETIE ZÁVÄZNEJ ZMLUVY; A,
    SÚHLASÍTE, AK VSTUPUJETE NA WEBOVÚ STRÁNKU Z JURISDIKCIE, KDE TO NIE JE POVOLENÉ, ROBÍTE TAK NA VLASTNÉ RIZIKO.

  </p>
  </p>


  <h2>Aktualizácie zmluvných podmienok</h2>
  <p>
    Tieto zmluvné podmienky môžeme z času na čas revidovať a aktualizovať podľa vlastného uváženia. Všetky zmeny
    nadobudnú účinnosť okamžite, keď ich uverejníme, a vzťahujú sa na všetok prístup a používanie webovej lokality po
    ich zverejnení.
    Pokračovanie v používaní webovej stránky po zverejnení revidovaných zmluvných podmienok znamená, že prijímate zmeny
    a súhlasíte s nimi. Očakáva sa, že túto stránku skontrolujete vždy, keď navštívite túto webovú stránku, aby ste boli
    informovaní o akýchkoľvek zmenách, pretože sú pre vás záväzné.

  </p>

  <h2>Vaše povinnosti</h2>
  <p>
    Ste povinní zabezpečiť, aby všetky osoby, ktoré pristupujú na webovú stránku, poznali túto dohodu a dodržiavali ju.
    Podmienkou vášho používania webovej stránky je, že všetky informácie, ktoré na webovej stránke poskytujete, sú
    správne, aktuálne a úplné.
  <p>
    ZA POUŽÍVANIE WEBOVEJ STRÁNKY A VAŠEJ POČÍTAČOVEJ, INTERNETU A BEZPEČNOSTI ÚDAJOV STE VÝHRADNE A ÚPLNE ZODPOVEDNÍ.
  </p>
  </p>

  <h2></h2>
  <p></p>

  <h2>Prohibited Activities</h2>
  <p>
    Webovú stránku môžete používať iba na zákonné účely a v súlade s týmito Podmienkami používania. Súhlasíte s tým, že
    nebudete používať webovú stránku:
  <p>
    • Akýmkoľvek spôsobom, ktorý porušuje akékoľvek príslušné federálne, štátne, miestne alebo medzinárodné zákony alebo
    nariadenia.
  </p>
  <p>
    • Za účelom vykorisťovania, ubližovania alebo pokusu o vykorisťovanie či ubližovanie maloletým akýmkoľvek spôsobom
    ich vystavením nevhodnému obsahu, vyžiadaním si informácií umožňujúcich osobnú identifikáciu alebo iným spôsobom.
  </p>
  <p>
    • Odosielať, vedome prijímať, odovzdávať, sťahovať, používať alebo opätovne používať akýkoľvek materiál, ktorý nie
    je v súlade so štandardmi odosielania uvedenými v týchto podmienkach používania.
  </p>
  <p>
    • Prenášať alebo zabezpečovať odoslanie akéhokoľvek reklamného alebo propagačného materiálu, vrátane akejkoľvek
    „nevyžiadanej pošty“, „reťazového listu“, „spamu“ alebo akejkoľvek inej podobnej žiadosti.
  </p>
  <p>
    • Vydávať sa za Spoločnosť, zamestnanca Spoločnosti, iného používateľa alebo akúkoľvek inú osobu alebo subjekt
    (vrátane, bez obmedzenia, pomocou e-mailových adries spojených s niektorou z vyššie uvedených), alebo sa o to
    pokúšať.
  </p>
  <p>
    • Zapájať sa do akéhokoľvek iného správania, ktoré obmedzuje alebo bráni komukoľvek v používaní alebo užívaní si
    webovej stránky, alebo ktoré, ako určíme, môže poškodiť spoločnosť alebo používateľov webovej lokality alebo ich
    vystaviť zodpovednosti.
  </p>
  <p>
    Okrem toho súhlasíte, že nebudete:
  </p>
  <p>
    • Používať webovú stránku akýmkoľvek spôsobom, ktorý by mohol znefunkčniť, preťažiť, poškodiť alebo narušiť stránku
    alebo narušiť používanie webovej stránky akoukoľvek inou stranou, vrátane ich schopnosti zapojiť sa do aktivít v
    reálnom čase prostredníctvom webovej stránky.
  </p>
  <p>
    • Používať akéhokoľvek robota, pavúka alebo iné automatické zariadenie, proces alebo prostriedky na prístup na
    webovú stránku na akýkoľvek účel, vrátane sledovania alebo kopírovania akéhokoľvek materiálu na webovej stránke.
  <p>
    • Bez nášho predchádzajúceho písomného súhlasu použite akýkoľvek manuálny proces na sledovanie alebo kopírovanie
    akéhokoľvek materiálu na webovej stránke alebo na akýkoľvek iný účel, ktorý nie je výslovne povolený v týchto
    podmienkach používania.
  </p>
  <p>
    • Používať akékoľvek zariadenie, softvér alebo rutinu, ktoré narúšajú správne fungovanie webovej stránky.
  </p>
  <p>
    • Uvádzať akékoľvek vírusy, trójske kone, červy, logické bomby alebo iný materiál, ktorý je škodlivý alebo
    technologicky škodlivý.
  </p>
  <p>
    • Pokúsiť sa získať neoprávnený prístup, zasahovať, poškodiť alebo narušiť akúkoľvek časť webovej stránky, server,
    na ktorom je webová lokalita uložená, alebo akýkoľvek server, počítač alebo databázu pripojenú k webovej lokalite.
  </p>
  <p>
    • Zaútočiť na webovú stránku prostredníctvom útoku odmietnutia služby alebo distribuovaného útoku odmietnutia
    služby.
  </p>
  </p>

  <h2>Práva duševného vlastníctva</h2>
  <p>
    Webová lokalita a jej celý obsah, funkcie a funkcie (vrátane, ale nie výlučne, všetkých informácií, softvéru, textu,
    displejov, obrázkov, videa a zvuku a ich dizajnu, výberu a usporiadania) sú vo vlastníctve Spoločnosti, jej
    poskytovateľov licencií alebo iných poskytovateľov takéhoto materiálu a sú chránené medzinárodnými zákonmi o
    autorských právach, ochranných známkach, patentoch, obchodnom tajomstve a iných zákonoch o duševnom vlastníctve
    alebo vlastníckych právach.
  <p>
    Tieto zmluvné podmienky vám umožňujú používať webovú stránku iba na osobné, nekomerčné použitie. Nesmiete
    reprodukovať, distribuovať, upravovať, vytvárať odvodené diela, verejne zobrazovať, verejne predvádzať, opätovne
    publikovať, sťahovať, ukladať alebo prenášať akýkoľvek materiál na našej webovej stránke, s výnimkou nasledujúcich
    prípadov:
  </p>
  <p>
    • Váš počítač môže dočasne ukladať kópie takýchto materiálov v pamäti RAM v súvislosti s vaším prístupom k týmto
    materiálom a ich prezeraním.
  </p>
  <p>
    • Môžete ukladať súbory, ktoré váš webový prehliadač automaticky ukladá do vyrovnávacej pamäte na účely vylepšenia
    zobrazenia.
  </p>
  <p>
    • Môžete si vytlačiť alebo stiahnuť jednu kópiu primeraného počtu stránok webovej stránky pre svoje osobné,
    nekomerčné použitie a nie pre ďalšiu reprodukciu, publikovanie alebo distribúciu.
  <p>
    You must not:
  </p>
  <p>
    • Upravovať kópie akýchkoľvek materiálov z tejto stránky.
  </p>
  <p>
    • Vymažte alebo upravte akékoľvek upozornenia o autorských právach, ochranných známkach alebo iných vlastníckych
    právach z kópií materiálov z tejto stránky.
  </p>
  <p>
    Nesmiete pristupovať ani používať na žiadne komerčné účely žiadnu časť webovej stránky ani žiadne služby alebo
    materiály dostupné prostredníctvom webovej lokality.
  </p>
  <p>
    Ak vytlačíte, skopírujete, upravíte, stiahnete alebo inak použijete alebo poskytnete akejkoľvek inej osobe prístup k
    akejkoľvek časti webovej stránky v rozpore s Podmienkami poskytovania služby, vaše právo na používanie webovej
    stránky sa okamžite zastaví a musíte podľa nášho uváženia , vrátiť alebo zničiť akékoľvek kópie materiálov, ktoré
    ste vytvorili. Žiadne právo, nárok alebo podiel na webovej stránke alebo obsahu webovej stránky sa na vás neprevádza
    a všetky práva, ktoré nie sú výslovne udelené, si vyhradzuje spoločnosť. Akékoľvek používanie webovej stránky, ktoré
    nie je výslovne povolené týmito Podmienkami používania služby, je porušením týchto Podmienok používania služby a
    môže porušovať autorské práva, zákony o ochranných známkach a iné zákony.
  </p>

  </p>

  <h2>Naše práva</h2>
  <p>
    Máme právo bez predchádzajúceho upozornenia:
  <p>
    • Prijať príslušné právne kroky vrátane, bez obmedzenia, postúpenia alebo spolupráce s orgánmi činnými v trestnom
    konaní alebo regulačnými orgánmi, alebo upozorniť poškodenú stranu na akékoľvek nezákonné alebo neoprávnené
    používanie webovej stránky; a
  </p>
  <p>
    • Ukončiť alebo pozastaviť váš prístup k celej webovej lokalite alebo jej časti z akéhokoľvek dôvodu alebo bez
    dôvodu, vrátane, bez obmedzenia, akéhokoľvek porušenia týchto Podmienok používania.
  </p>
  </p>

  <h2>Odkazy a obsah tretích strán</h2>
  <p>
    Pre vaše pohodlie môže táto webová stránka poskytovať odkazy alebo ukazovatele na stránky tretích strán alebo obsah
    tretích strán. Nerobíme žiadne vyhlásenia týkajúce sa akýchkoľvek iných webových stránok alebo obsahu tretích strán,
    ku ktorým je možné pristupovať z tejto webovej stránky. Ak sa rozhodnete pre prístup na takéto stránky, robíte tak
    na vlastné riziko. Nemáme žiadnu kontrolu nad obsahom tretích strán alebo akýmikoľvek stránkami tretích strán a
    nepreberáme žiadnu zodpovednosť za takéto stránky ani za akúkoľvek stratu alebo škodu, ktorá môže vzniknúť pri ich
    používaní. Vzťahujú sa na vás všetky zmluvné podmienky takýchto stránok tretích strán.
  </p>

  <h2>Vládny zákon</h2>
  <p>
    Webová lokalita a tieto Podmienky poskytovania služby sa budú riadiť a vykladať v súlade so zákonmi Slovenska a
    akýmikoľvek príslušnými federálnymi zákonmi, ktoré sa na nich vzťahujú, bez toho, aby sa uplatňovala akákoľvek voľba
    alebo kolízia právnych ustanovení, princípov alebo pravidiel a bez ohľadu na váš domicil, bydlisko. alebo fyzické
    umiestnenie. Akékoľvek konanie alebo konanie vyplývajúce z alebo súvisiace s touto Webovou stránkou a/alebo podľa
    týchto Podmienok poskytovania služby bude začaté na súdoch Slovenskej krajiny a každá strana sa neodvolateľne
    podriaďuje výlučnej jurisdikcii takýchto súdov v akomkoľvek takomto konaní alebo konaní. . Vzdávate sa všetkých
    námietok voči výkonu právomoci nad vami takýmito súdmi a voči miestu konania takýchto súdov.
    Ak ste občanom ktorejkoľvek krajiny Európskej únie alebo Švajčiarska, Nórska alebo Islandu, rozhodným právom a fórom
    budú zákony a súdy v mieste vášho obvyklého bydliska.
    Zmluvné strany sa dohodli, že tieto zmluvné podmienky ani práva a povinnosti zmluvných strán podľa týchto zmluvných
    podmienok nebudú upravovať Dohovor OSN o zmluvách o medzinárodnom predaji tovaru.

  </p>

  <h2>Oddeliteľnosť</h2>
  <p>
    Ak je akékoľvek ustanovenie týchto Podmienok používania nezákonné alebo nevykonateľné podľa platných zákonov, zvyšok
    ustanovenia sa upraví tak, aby sa čo najviac dosiahol účinok pôvodnej podmienky a všetky ostatné ustanovenia týchto
    Podmienok používania zostanú v plnej platnosti a účinok.
  </p>

  <h2>Úplné zmluvné podmienky</h2>
  <p>
    Tieto zmluvné podmienky predstavujú úplné a jediné zmluvné podmienky medzi zmluvnými stranami vo vzťahu k ich
    predmetu a nahrádzajú a rušia všetky predchádzajúce alebo súčasné zmluvné podmienky, záväzky, dojednania,
    porozumenia alebo vyhlásenia akejkoľvek povahy uskutočnené zmluvnými stranami alebo ktorýmkoľvek z nich či už ústne
    alebo písomne (a ak sú písomné, či už vo forme návrhu alebo nie) v súvislosti s takýmto predmetom. Každá zo strán
    berie na vedomie, že sa nespolieha na žiadne vyhlásenia, záruky alebo prehlásenia poskytnuté alebo urobené
    ktoroukoľvek z nich v súvislosti s predmetom týchto Podmienok poskytovania služby, s výnimkou tých, ktoré sú
    výslovne uvedené v týchto Podmienkach poskytovania služby, a že nebude mať v súvislosti s takýmto predmetom žiadne
    práva ani opravné prostriedky iné ako podľa týchto Podmienok poskytovania služby, s výnimkou prípadov, keď sú
    výsledkom podvodu alebo podvodného zavádzania inej strany. Žiadna zmena týchto podmienok služby nebude účinná,
    pokiaľ nebude v písomnej forme a podpísaná spoločnosťou alebo v jej mene.
  </p>

  <h2>Vzdanie sa práva</h2>
  <p>
    Žiadne neuplatnenie a žiadne oneskorenie pri výkone zo strany ktorejkoľvek zmluvnej strany, akéhokoľvek práva alebo
    akejkoľvek právomoci podľa tejto zmluvy nebude pôsobiť ako vzdanie sa jej, ani žiadne samostatné alebo čiastočné
    uplatnenie akéhokoľvek práva alebo právomoci podľa tejto zmluvy nebude brániť ďalšiemu výkonu tejto alebo akékoľvek
    iné právo uvedené nižšie.
  </p>

  <h2>Upozornenie</h2>
  <p>
    Akékoľvek oznámenie vám môžeme poskytnúť podľa týchto Podmienok poskytovania služby: (i) odoslaním správy na
    e-mailovú adresu, ktorú nám poskytnete a súhlasíte s používaním; alebo (ii) uverejnením na webovej stránke.
    Oznámenia zaslané e-mailom budú účinné, keď odošleme e-mail a oznámenia, ktoré poskytneme odoslaním, budú účinné
    odoslaním.
  </p>

  <p>Created by template of Enzuzo</p>

  <div class="text"></div>

  <div class="text"></div>

  <div class="text"></div>

  {% include "EN/footer.html" %}
</body>

</html>
